body
{
  font-family: arial , sans-serif;
  font-size: 14px;
   max-width: 100%;
}

#content
{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(90px,auto);
  grid-gap: 10px;

  margin: 0 auto;
  position: relative;
  grid-template-areas:
  "header header header header"
  "main main main main"
  "main main main main"
  "main main main main"
  "section section section section"
  "footer footer footer footer";
}

header
{
   grid-area: header;
}

main
{
  grid-area: main;
}

section
{
  grid-area: section;
}

footer
{
  grid-area: footer;
}

main > img
{
   margin-left: 290px;
   padding-top: 20px;
   width: 400px;

}

main > input
{

   margin-left: 270px;
   margin-top: 1px;
   width: 420px;
   padding-top: 20px;
   padding-left: 30px;
   border-radius: 25px;
   border: 1px solid #ccc;
   outline: none;
}

main
{
  position: relative;
}

.fa-search
{
   position: absolute;
   top: 170px;
   left: 280px;
   color:#C0C0C0;
}

.fa-microphone
{
  position: absolute;
  top: 170px;
  left: 700px;
  color: #0D4F8B;
}

button
{
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  padding: 10px;
}

button:hover
{
   border: 1px solid #cccccc;
}

.btn1
{
  position: absolute;
  left: 370px;
  top:  220px;
}

.btn2
{
  position: absolute;
  left: 500px;
  top:  220px;
}

.lang
{
   position: absolute;
   top: 280px;
   left: 220px;
}

.lang a:visited
{
    color: #609;
}

.lang a
{
   color: #1a0dab;
   text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

header >a
{
   text-decoration: none;
   left: 750px;
   position: relative;
   top: 15px;
   color: #000;
}

.fa-th
{
  left: 750px;
  position: relative;
  top: 19px;
  color: #000;
  cursor: pointer;
}

.sign
{
  border: 1px solid rgb(66, 133, 244);
  background: #4683ea;
  color: #fff;
  position: relative;
  top: 17px;
  left: 750px;
}

footer
{
  background:#f6f3f3;
  top: 40px;
  font-size: 15px;
  position: relative;

}

.BD a, .RBD a
{
   text-decoration: none;
   color: grey;
   margin-left: 20px;
}

.BD a:hover, .RBD a:hover
{
  text-decoration: underline;
}
.country
{
  position: absolute;
  top: 15px;
  left: 25px;
}

.RBD > a
{
  position: relative;
  left: 300px;
}
